<!DOCTYPE html>
<html>
<head>
    <title>RATP Métro+</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""
    />
    <script
            src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""
    ></script>
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <style>
        .title {
            font-size: 48px;
            margin-bottom: 15px;
        }

        .subtitle {
            font-size: 20px;
            margin-top: 10px;
        }

        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .btn-container .btn {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-light">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" alt="RATP" width="85" height="60" class="d-inline-block align-text-top">
                </a>
            </div>
        </nav>
    </header>

    <div class="container my-5">
        <div class="text-center">
            <h2 class="title">Bienvenue sur l'application RATP Métro+</h2>
            <h3 class="subtitle">L'objectif de cette application est de fournir une analyse visuelle sur le graphe des métros parisiens de la RATP afin de trouver les chemins les plus courts en termes de temps et de correspondances.</h3>
        </div>

        <div class="my-5">
            <a class="btn btn-secondary" href="https://documentation.ulrichcoudin.com/sae201/" target="_blank">Lien vers la documentation du code <span>(pour les développeurs)</span></a>
            <a class="btn btn-info" href="https://data.ulrichcoudin.com" target="_blank"> Lien vers l'API utilisé </a>
        </div>

        <div class="btn-container">
            <a class="btn btn-success" href="/list_stations_lines">Liste des stations par ligne de métro</a>
            <a class="btn btn-success" href="/possible_correspondences">Liste des correspondences possibles</a>
            <a class="btn btn-success" href="/shortest_path_time">Calcul du trajet (en temps) entre deux stations</a>
            <a class="btn btn-success" href="/shortest_path_time_intermediate">Calcul du trajet (en temps) entre deux stations avec une station étape</a>
            <a class="btn btn-success" href="/shortest_path_correspondance">Calcul du trajet (en termes de correspondances) entre deux stations</a>
            <a class="btn btn-success" href="/shortest_path_correspondance_intermediate">Calcul du trajet (en termes de correspondances) entre deux stations avec une station étape</a>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-oi3gdAxO5abPeefbRXXYGSg25pmijUbWVNsLwRo1cMhECJ+anVxRIsZ3xIvR+Ks0"
            crossorigin="anonymous"></script>
</body>
</html>
